.animated-bg {
    width: 100%;
    height: 98dvh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#text {
    margin: 50px 0px;
    color: #fff;
    cursor: default;
}

#btn {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover {
    background-color: #b1b1b1;
    cursor: cell;
}

#contador {
    margin: 50px 0px;
    font-size: 48px;
    color: #fff;
    cursor: default;
}

#recompensa {
    height: 350px;
    font-size: 48px;
    color: #fff;
    cursor: default;
}
img {
    height: 80%;
    width: auto;
}
